<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>msg</key>
		<string>OK</string>
	</dict>
	<key>10</key>
	<dict>
		<key>msg</key>
		<string>UndefinedError</string>
	</dict>
	<key>11</key>
	<dict>
		<key>msg</key>
		<string>DataFormatException</string>
	</dict>
	<key>12</key>
	<dict>
		<key>msg</key>
		<string>uTokenIsNil</string>
	</dict>
	<key>13</key>
	<dict>
		<key>msg</key>
		<string>RouterAuthFailed</string>
	</dict>
	<key>21</key>
	<dict>
		<key>msg</key>
		<string>URLIsNil</string>
	</dict>
	<key>22</key>
	<dict>
		<key>msg</key>
		<string>MethodIsNil</string>
	</dict>
    <key>23</key>
    <dict>
        <key>msg</key>
        <string>UnknownUser</string>
    </dict>
    <key>24</key>
    <dict>
        <key>msg</key>
        <string>ParamError</string>
    </dict>
	<key>301</key>
	<dict>
		<key>msg</key>
		<string>NeedEmailInput</string>
	</dict>
	<key>302</key>
	<dict>
		<key>msg</key>
		<string>NeedPasswordInput</string>
	</dict>
	<key>303</key>
	<dict>
		<key>msg</key>
		<string>TokenEmpty</string>
	</dict>
	<key>304</key>
	<dict>
		<key>msg</key>
		<string>RidEmpty</string>
	</dict>
	<key>305</key>
	<dict>
		<key>msg</key>
		<string>MacEmpty</string>
	</dict>
	<key>306</key>
	<dict>
		<key>msg</key>
		<string>StatusEmpty</string>
	</dict>
	<key>307</key>
	<dict>
		<key>msg</key>
		<string>SwitchEmpty</string>
	</dict>
	<key>308</key>
	<dict>
		<key>msg</key>
		<string>SidEmpty</string>
	</dict>
	<key>309</key>
	<dict>
		<key>msg</key>
		<string>VerEmpty</string>
	</dict>
	<key>310</key>
	<dict>
		<key>msg</key>
		<string>TwxPathEmpty</string>
	</dict>
	<key>311</key>
	<dict>
		<key>msg</key>
		<string>RouterNameEmpty</string>
	</dict>
	<key>312</key>
	<dict>
		<key>msg</key>
		<string>PushTokenEmpty</string>
	</dict>
	<key>313</key>
	<dict>
		<key>msg</key>
		<string>TokenAuthRequestFailed</string>
	</dict>
	<key>314</key>
	<dict>
		<key>msg</key>
		<string>TokenAuthFailed</string>
	</dict>
	<key>315</key>
	<dict>
		<key>msg</key>
		<string>ParamLess</string>
	</dict>
	<key>316</key>
	<dict>
		<key>msg</key>
		<string>DataUpdateFailed</string>
	</dict>
	<key>317</key>
	<dict>
		<key>msg</key>
		<string>InvalidParam</string>
	</dict>
	<key>401</key>
	<dict>
		<key>msg</key>
		<string>EmailError</string>
	</dict>
	<key>402</key>
	<dict>
		<key>msg</key>
		<string>UserNotExist</string>
	</dict>
	<key>403</key>
	<dict>
		<key>msg</key>
		<string>PasswordError</string>
	</dict>
	<key>404</key>
	<dict>
		<key>msg</key>
		<string>UserDisabled</string>
	</dict>
	<key>405</key>
	<dict>
		<key>msg</key>
		<string>UserNeedVerify</string>
	</dict>
	<key>406</key>
	<dict>
		<key>msg</key>
		<string>TokenExpire</string>
	</dict>
	<key>407</key>
	<dict>
		<key>msg</key>
		<string>TokenError</string>
	</dict>
	<key>408</key>
	<dict>
		<key>msg</key>
		<string>RidError</string>
	</dict>
	<key>409</key>
	<dict>
		<key>msg</key>
		<string>RouterNoAccess</string>
	</dict>
	<key>410</key>
	<dict>
		<key>msg</key>
		<string>NotReady</string>
	</dict>
	<key>411</key>
	<dict>
		<key>msg</key>
		<string>RouterNotOnline</string>
	</dict>
	<key>412</key>
	<dict>
		<key>msg</key>
		<string>DevicesListExpire</string>
	</dict>
	<key>413</key>
	<dict>
		<key>msg</key>
		<string>ExistUsername</string>
	</dict>
	<key>414</key>
	<dict>
		<key>msg</key>
		<string>BindTooMore</string>
	</dict>
	<key>416</key>
	<dict>
		<key>msg</key>
		<string>RouterbindedByYouself</string>
	</dict>
	<key>417</key>
	<dict>
		<key>msg</key>
		<string>SidError</string>
	</dict>
	<key>418</key>
	<dict>
		<key>msg</key>
		<string>AppNotInstalled</string>
	</dict>
	<key>419</key>
	<dict>
		<key>msg</key>
		<string>AlreadyDone</string>
	</dict>
	<key>420</key>
	<dict>
		<key>msg</key>
		<string>NotSupportSwitch</string>
	</dict>
	<key>421</key>
	<dict>
		<key>msg</key>
		<string>PathNotAllowed</string>
	</dict>
	<key>422</key>
	<dict>
		<key>msg</key>
		<string>RouterNameLong</string>
	</dict>
	<key>423</key>
	<dict>
		<key>msg</key>
		<string>RouterNameInvalid</string>
	</dict>
	<key>424</key>
	<dict>
		<key>msg</key>
		<string>VerError</string>
	</dict>
	<key>501</key>
	<dict>
		<key>msg</key>
		<string>TimeOut</string>
	</dict>
	<key>502</key>
	<dict>
		<key>msg</key>
		<string>UnknowError</string>
	</dict>
	<key>503</key>
	<dict>
		<key>msg</key>
		<string>RebootError</string>
	</dict>
	<key>504</key>
	<dict>
		<key>msg</key>
		<string>SetDeviceBlockError</string>
	</dict>
	<key>505</key>
	<dict>
		<key>msg</key>
		<string>CloseDeviceBlockError</string>
	</dict>
	<key>507</key>
	<dict>
		<key>msg</key>
		<string>CheckRouterUpgradeError</string>
	</dict>
	<key>508</key>
	<dict>
		<key>msg</key>
		<string>DoRouterUpgradeError</string>
	</dict>
	<key>509</key>
	<dict>
		<key>msg</key>
		<string>GetLedStatusError</string>
	</dict>
	<key>510</key>
	<dict>
		<key>msg</key>
		<string>SetLedStatusError</string>
	</dict>
	<key>511</key>
	<dict>
		<key>msg</key>
		<string>SetAppSwitchError</string>
	</dict>
	<key>512</key>
	<dict>
		<key>msg</key>
		<string>GetMacError</string>
	</dict>
	<key>513</key>
	<dict>
		<key>msg</key>
		<string>GetTxpwrStatusError</string>
	</dict>
	<key>514</key>
	<dict>
		<key>msg</key>
		<string>SetTxpwrStatusError</string>
	</dict>
	<key>547</key>
	<dict>
		<key>msg</key>
		<string>NeedROMUpgrade</string>
	</dict>
	<key>548</key>
	<dict>
		<key>msg</key>
		<string>TwxApiError</string>
	</dict>
</dict>
</plist>
